<ng-container *ngIf="loginService.isAuthenticated()">


  <mat-toolbar class="responsive-toolbar">
    <div class="action">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon>list</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="abrirFormUrl()">
        Agregar Url
        </button>
        <button mat-menu-item (click)="abrirFormVersion()">
        Agregar Version
        </button>
        <button mat-menu-item (click)="logout()">
        Cerrar Sesion
        </button>
      </mat-menu>
    </div>
    <span>Formularios</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <!-- <mat-toolbar class="responsive-toolbar">
    <span>Formularios</span>
    <span class="example-spacer" ></span>
    <button mat-raised-button (click)="abrirFormUrl()">
      Url
    </button>
    <span class="button-separator"></span>
    <button mat-raised-button (click)="abrirFormVersion()">
      Version
    </button>
    <span class="button-separator"></span>
    <button mat-raised-button (click)="logout()">
      Cerrar Sesion
    </button> 
  </mat-toolbar> -->
  
  <div class="main-body">
    <h2>Url</h2>
    <mat-form-field>
      <mat-label>Buscar Url</mat-label>
      <input matInput (keyup)="applyFilterUrl($event)" placeholder="Ex. Mia" #inputUrl>
    </mat-form-field>
  
    <div class="table-container">
  
      <table mat-table [dataSource]="dataSourceUrl" matSort>
  
        <!-- <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let rowUrl"> {{rowUrl._id}} </td>
        </ng-container> -->
  
  
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let rowUrl"> {{rowUrl.nombre}} </td>
        </ng-container>
  
    
        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Url </th>
          <td mat-cell *matCellDef="let rowUrl"> {{rowUrl.url}} </td>
        </ng-container>
  
    
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td mat-cell *matCellDef="let rowUrl"> {{rowUrl.fecha}} </td>
        </ng-container>
        
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Accion </th>
          <td mat-cell *matCellDef="let rowUrl"> 
          <button mat-icon-button color="primary" (click)="abrirEditFormUrl(rowUrl)">
            <mat-icon>edit</mat-icon>
          </button>
  
          <button mat-icon-button color="warn" (click)="deleteUrl(rowUrl._id)">
            <mat-icon>delete</mat-icon>
          </button>
          
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumnsUrl"></tr>
        <tr mat-row *matRowDef="let rowUrl; columns: displayedColumnsUrl;"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{inputUrl.value}}"</td>
        </tr>
  
      </table>
  
      
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of Urls"></mat-paginator>
      
      <br>
  
      <h2>Version</h2>
      <mat-form-field>
        <mat-label>Buscar Version</mat-label>
        <input matInput (keyup)="applyFilterVersion($event)" placeholder="Ex. Mia" #inputVersion>
      </mat-form-field>
  
      <table mat-table [dataSource]="dataSourceVersion" matSort>
  
        <!-- <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let rowVersion"> {{rowVersion._id}} </td>
        </ng-container> -->
  
  
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let rowVersion"> {{rowVersion.nombre}} </td>
        </ng-container>
  
    
        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Version </th>
          <td mat-cell *matCellDef="let rowVersion"> {{rowVersion.version}} </td>
        </ng-container>
  
    
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td mat-cell *matCellDef="let rowVersion"> {{rowVersion.fecha}} </td>
        </ng-container>
        
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Accion </th>
          <td mat-cell *matCellDef="let rowVersion"> 
          <button mat-icon-button color="primary" (click)="abrirEditFormVersion(rowVersion)">
            <mat-icon>edit</mat-icon>
          </button>
  
          <button mat-icon-button color="warn" (click)="deleteVersion(rowVersion._id)">
            <mat-icon>delete</mat-icon>
          </button>
          
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumnsVersion"></tr>
        <tr mat-row *matRowDef="let rowVersion; columns: displayedColumnsVersion;"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{inputVersion.value}}"</td>
        </tr>
  
      </table>
  
      
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of Versions"></mat-paginator>
      
  
    </div>
  
  </div>

</ng-container>

<app-login *ngIf="!loginService.isAuthenticated()"></app-login>





